/* Neste arquivo, faremos TODAS as REGRAS
CSS necessarias para a formatação do site.*/

 body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image:url(../imagens/watercolor.png);
}


h1{

    animation-name: caindo;
    animation-duration: 5s;
    /*animation-iteration-count: infinite;*/

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    background-color: black;
    border-radius: 8px;
    border: rgb(202, 202, 196) solid 4px;
    padding: 10px;
    height: 50px; 
    background-color:; 
    box-shadow: rgb(255, 255, 255)  0 0  15px inset;
    text-transform: uppercase;


}

#container{
    background-color: white;
    width: 80%;
    margin: auto;
    box-shadow: rgb(8, 8, 8) 0 0 5px;
    padding: 16px;
    border-radius: 8px;
}


h2{
    font-size: 20px;
    border-bottom: solid 1px;
    border-left:  dashed 2px;
    padding-left: 10px;
}




/* Grupo de seletores*/
h3, p, figcaption{
    padding: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

h3{
    background: linear-gradient(
        to right,
        rgb(31, 29, 31),
        rgb(61, 58, 65),
        rgb(126, 126, 89));
}


.destaque {
    background-color: aliceblue;
    padding: 3px;
    color: rgb(136, 57, 57);
    border-radius: 4px;
}




/* Reaset*/

figure{
    margin: 0px;
    text-align: center;
}
img{
    max-width: 100%;
}

/* Seletor descendente*/

p a{
color: brown;

}

ul{
    margin: 10px;
}

li{
    list-style-image: url(../imagens/fundo02.gif);
    line-height: 32px;
}

/* Seletor PSEUDO-ELEMENTO(usa 2x o dois pontos::)*/

li::marker{
    content: "🔥";
    font-size: 15px;
}

/* Regras para o meu */


nav{
    text-align: center;
}

/* Regra para o estado inicial do Link*/

nav a{
    text-decoration: none;
    font-weight: bold;
    color: rgb(199, 33, 88);
    background-color: antiquewhite;  
    width: 50%;
    display: inline-block;  
    padding: 10px;
    /* Alterando o Box Model fazendo com que padding e border não de BO nas dimensões finais do elemento*/
    box-sizing: border-box;


}
/* Seletor Pseudo-chasse :first-child*/
nav a:first-child{
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

/* Seletor pseudo-classe :last-child*/
nav a:last-child{
border-top-right-radius: 12px;
border-bottom-right-radius: 12px;
}

/* regra pára o estado do link  acionado
Pseudo-classe :haver (Passar o mause)
Pseudo-classe :focus (Receber Foco)*/
nav a:hover,nav a:focus{
    background-color: aquamarine;
    color: aliceblue;

}

figure img{
    filter: grayscale();
    transition: 2s; 
    /*clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%); */  
    transform: scale(0.8); 
}
figure img:hover{ 
    filter: none;
    /*clip-path: polygon(1% 0, 100% 0, 100% 100%, 0% 100%);*/
    /*transform: scale(1) rotate(360deg) ;*/
}

/* Regras de Animação*/

@keyframes caindo{
    /*como começa */
    from {transform: translateY(-100px);
    opacity: 0;}

   /* como termina*/
    to {transform: translateY(0);}
}







